<div th:fragment="header"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     class="header-inner">

  <!-- 左：ロゴ -->
  <a th:href="@{/}" class="logo">Evolon</a>

  <!-- 右：ナビ -->
  <nav class="nav">
    <a th:href="@{/my-page}" class="btn-primary button--outline">マイページ</a>

    <form th:action="@{/logout}" method="post" class="nav-form">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
      <button type="submit" class="btn-primary btn-logout">ログアウト</button>
    </form>
  </nav>

</div>
